.nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    &__list {
        display: flex;
        column-gap: 71px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            flex-grow: 1;
        }
    }

    &__link {
        color: #000;
        position: relative;
    }

    &__burger {
        display: none;
        font-size: 80px;
        color: #fff;

        @media (max-width: 768px) {
            display: flex;
        }

        &-icon {
            color: #000;
        }
    }

    &__menu {
        @media (max-width: 768px) {
            position: absolute;
            top: 90px;
            min-height: 55vh;
            height: 300px;
            background: #fff;
            left: 0;
            width: 100%;
            display: flex;
            transform: scaleY(0);
            transform-origin: top;
            transition: 0.4s;
            z-index: 9999;

            &.active {
                transform: scaleY(1);
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__cart {

        &-link {
            position: relative;

            
        }

        &-item {

            &.active {
                position: absolute;
                top: -30px;
                right: -10px;
                background-color: #000;
                color: #fff;
                padding: 5px;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-icon {
            color: #000;
        }
    }
}

